html,
body {
    font-family: 'Roboto Condensed', 'sans-serif' !important;
}

h1 {
    font-size: 48px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-style: italic;
}

#playTypeButtons {
    color: white;
}

button {
    background-color: #ac1a2f !important;
    border: none !important;
    transition: linear 0.3s;
}

button:hover {
    background-color: #494949 !important;
}

button:focus {
    box-shadow: 0 0 0 0.2rem #49494988 !important;
}

#switchButton {
    width: 100%;
    height: 100%;
}


button:focus {}



.mainDiv {
    margin-left: 5%;
    width: 90%;
}

#clickMap {
    position: relative;
}

.ownHalf {
    font-weight: 700;
    height: 100%;
    background-color: #ac1a2f;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opponentHalf {
    height: 100%;
    font-weight: 700;
    background-color: #494949;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.svgDiv {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.event {
    fill-opacity: 0.75;
    stroke: black;
    stroke-opacity: 0.75;
}

.background {
    visibility: hidden;
    pointer-events: all;
}