html,
body {
    font-family: 'Roboto Condensed', 'sans-serif' !important;
}

h1 {
    font-size: 48px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-style: italic;
}

#playTypeButtons {
    color: white;
}

button {
    margin-top: 5px;
    background-color: #ac1a2f;
    color: white;
    border: none;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 30px;
    border-radius: 25px;
    transition: 0.3s ease;
}

button:hover {
    background-color: #494949;
}



.mainDiv {
    margin-left: 5%;
    width: 90%;
}

#clickMap {
    position: relative;
}

.ownHalf {
    font-weight: 700;
    padding: 5px 0px;
    background-color: #ac1a2f;
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
}

.opponentHalf {
    font-weight: 700;
    padding: 5px 0px;
    background-color: #494949;
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
}

.image {
    width: 100%;
    height: auto;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.svgDiv {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.event {
    fill-opacity: 0.75;
    stroke: black;
    stroke-opacity: 0.75;
}

.background {
    visibility: hidden;
    pointer-events: all;
}