html,
body {
    font-family: 'Roboto Condensed', 'sans-serif' !important;
}

h1 {
    font-size: 48px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0) !important;
    transition: text-decoration-color 0.75s ease !important;
}

.row {
    width: 100vw;
    margin: 0px !important;
}

.grid-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
}

.chart-type-info {
    color: white;
    text-align: center !important;
}

.chart-type-info a {
    color: white;
}

.chart-type-info a:hover {
    color: white;
}

.content-wrapper {
    height: 100vh;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

.content-wrapper:hover {
    cursor: pointer;
}

.content-wrapper:hover a {
    text-decoration: underline !important;
    text-decoration-color: rgba(255, 255, 255, 1) !important;
}

.content-wrapper:nth-child(odd) {
    background-image: url(https://dbukjj6eu5tsf.cloudfront.net/sidearm.sites/davidsonwildcats.com/images/2019/12/12/Sparks_Dylan.png);
    background-size: cover;
    background-position: 30%;
}

.content-wrapper:nth-child(even) {
    /**
     will need to update image with something passing-related, reached out to 
     Clarence to see if he might have anything we can use, quick search of the
     site did not yield much
     */
    background-image: url(https://dbukjj6eu5tsf.cloudfront.net/sidearm.sites/davidsonwildcats.com/images/2019/12/12/Sparks_Dylan.png);
    background-size: cover;
    background-position: 30%;
}

.column-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.75s ease;

}

#left-header-column {
    background-color: #ac1a2f88;
}

#left-header-column:hover {
    background-color: #ac1a2fbb;
}

#right-header-column {
    background-color: #49494988;
}

#right-header-column:hover {
    background-color: #494949bb;
}


.two-column-container {
    width: 100%;
}